.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(245, 50, 15);
  animation: lds-facebook 0.6s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

*{
  margin: 0;
  padding: 0;
}
/* Home */
.home{
  height: 120vh;
  margin-top: 10px;
  margin-bottom: 50px;
  
}
hr{
  margin: auto;
}



/* Payment Form */
.kr-embedded{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.kr-embedded span{
  font-family: system-ui !important;
}


/* CustomButton */
.contentButton{
  display:none;
  margin: 0 auto; 
  text-align: center;
  width: 266px;
}
.customButton{
  background-color:rgb(41, 41, 204);
  border-radius: 2px;
  border-width: 0px;
  color:#FFF;
  height:40px;
  width:100%
}
.customButton:hover{
  background-color:rgb(33, 33, 233);
}
.spinner-border{
  display: none;
  margin: auto;
}




  